<div class="booking-banner" id="banner-for-new-booking-profile" style="background-image: linear-gradient(to right, rgba(118, 184, 82,0.3) 10%, rgba(141, 194, 111,0.3) 70%), url(<%= image_path('my-booking.jpg') %>);">
  <div class="sign-in-flex">
    <div class="my-booking">My Bookings</div>
        <div class="bookings-description">
            <% @bookings.each do |booking| %>
            <p class="paragraph-style" id="title-booking"><%= booking.flat.name %></p>
            <p class="paragraph-style">from: <%= booking.checkin %></p>
            <p class="paragraph-style">to: <%= booking.checkout %></p>
            <p class="paragraph-style">for <%= booking.guests %> people</p>
            <p class="paragraph-style">Status: <%= booking.status %></p>
            <p class="paragraph-style"><%= link_to 'Edit', edit_flat_booking_path(booking.flat, booking), class: "btn" %></p>
            <p class="paragraph-style"><%= link_to 'Accept', accept_flat_booking_path(booking.flat, booking), method: :patch, class: "btn" %></p>
            <p class="paragraph-style"><%= link_to 'Decline', decline_flat_booking_path(booking.flat, booking), method: :patch, class: "btn" %></p>
            <% end %>
        </div>
    </div>
</div>

