<h1><%= @flat.name %></h1>

<%= image_tag @flat.photo.url, height: 300, width: 400, crop: :fill  %>

<p><%= @flat.description %></p>

<ul>
<li>Owner: <%= @flat.user.firstname %></li>
<li>Price: <%= @flat.price %></li>
<li>Capicity: <%= @flat.capacity %></li>
<li>Location: <%= @flat.address %> at <%= @flat.city %> </li> <!-- To be replace by Google API -->
<!-- link to book page -->
</ul>

  <% if policy(@flat).edit? %>
     <%= link_to "Update", edit_flat_path(@flat), class: "btn btn-primary" %>
  <% end %>

  <% if policy(@flat).destroy? %>
    <%= link_to "Delete", flat_path(@flat), class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>

<%= link_to "Back to the flats", flats_path, class: "btn btn-primary" %>