<div class="sign-in-banner-flats" style="background-image: linear-gradient(to right, rgba(118, 184, 82,0.3) 10%, rgba(141, 194, 111,0.3) 70%), url('<%= cl_image_path @flat.photo, input_html: {class: "flat-picture"}  %>');">

  <div class="sign-in-flex-show">
    <div class="flat-description">
      <p class="sign-in-h1"> <%= @flat.name %> </p>
      <p class="description-title"><%= @flat.description %></p>
      <p>Owner: <%= @flat.user.firstname %></p>
      <p>Price: <%= @flat.price %>€</p>
      <p>Capicity: <%= @flat.capacity %></p>
      <p>Location: <%= @flat.address %> at <%= @flat.city %></p>
      <% if @flat.rating == nil %>
        <p><span>No reviews</span></p>
      <% else %>
        <p><span class="rating"><% @flat.rating.times do %>☆<% end %></span></p>
      <% end %>
  </div>
  <div class="buttons-flats">
    <% unless current_user == @flat.user %>
      <%= link_to "Book now", new_flat_booking_path(@flat), class: "btn" %>
      <%= link_to "Back to flats", flats_path, class: "green-button" %>
    <% else %>
      <%= link_to "Edit flat", edit_flat_path(@flat), class: "btn" %>
      <%= link_to "Delete", flat_path(@flat), class: "btn", method: :delete, data: { confirm: "Are you sure?" } %>
    <%= link_to "Back to flats", flats_path, class: "green-button" %>
    <% end %>
    </div>
  </div>
</div>
<div class="container-all-reviews">
<h3 class="review-title">Reviews</h3>
<% @flat.reviews.each do |review| %>
<div class="container-review">
    <p class="inbox-review">
        <p class="review">
        <% unless review.user.photo.nil? %>
          <img class="avatar-large" src="<%= review.user.photo.url %>">
        <% else %>
          <img class="avatar-large" src="http://placehold.it/30x30">
        <% end %>
            <div class="message-name">
                <h3><%= review.user.firstname %> <%= review.user.lastname %></h3>
                <p><%= Date.today %></p>
            </div>
             <div class="message-body-review">
            <p>
                <%= review.content %>
            </p>
            </div>
        </li>
    </ul>
    </div>
    <% end %>

<br>
</div>
<%= render 'review-form' %>
