<h1>Edit your booking</h1>

<%= simple_form_for [@flat, @booking] do |f| %>
    <%= f.input :checkin %>
    <%= f.input :checkout %>
    <%= f.input :guests %>
    <%= f.input :status, as: :hidden, input_html: { value: "Pending" } %>
    <%= f.submit "save", class: "btn btn-primary" %>
<% end %>