<h1>New booking</h1>

<%= simple_form_for [@flat, @booking] do |f| %>
  <%= f.input :checkin %>
  <%= f.input :checkout %>
  <%= f.input :guests %>
  <%= f.submit "save", class: "btn btn-primary" %>
<% end %>


