<div class="booking-banner" id="banner-for-new-booking-profile" style="background-image: linear-gradient(to right, rgba(118, 184, 82,0.3) 10%, rgba(141, 194, 111,0.3) 70%), url(<%= image_path('my-booking.jpg') %>);">
  <div class="sign-in-flex">
        <div class="new-booking">
            <div class="sign-in-h2">Edit your profile</div>
            <% unless @user.photo.url.nil? %>
                <%= image_tag @user.photo.url, id: "profile-picture" %>
            <% end %>
            <%= simple_form_for [@user] do |f| %>
                <%= f.input :firstname, input_html: {class: "input-from-new-booking"} %>
                <%= f.input :lastname, input_html: {class: "input-from-new-booking"} %>
                <%= f.input :email, input_html: {class: "input-from-new-booking"} %>
                <%= f.input :payment, as: :radio_buttons, collection: ['Card', 'Cash'], input_html: {class: "input-from-new-booking"} %>
                <%= f.input :photo, input_html: {class: "input-from-new", id: "payment"} %>
                <%= f.input :photo_cache, as: :hidden, input_html: {class: "import-button"} %>
                <div class="button-mask-profile">Upload Photo</div>
                <%= f.submit "save", class: "green-button" %>
            <% end %>
        </div>
    </div>
</div>
